html {
    height: 100%;
}

body {
    font-family: 'OpenSans', sans-serif;
    font-size: 20px;
    margin: 0px;
    background: #2d4a53;
    color: #afb3b7;
    height: 100%;
}

header {
    background: #0d1f23;
    color: #afb3b7;
    border-bottom: 3px solid #132e35;
    padding: 10px;
    display: flex;
    align-items: center;
}

header .menubutton {
    width: 40px;
}

header .branding {
    font-size: 36px;
    width: calc(100% - 80px);
    text-align: center;
}

header .placeholder {
    width: 40px;
}

.main {
    color: #afb3b7;
    padding: 10px;
}

.menu {
    position: fixed;
    top: 0px;
    width: 300px;
    height: 100%;
    background: #132E35;
    padding: 10px;
    max-width: 100%;
    left: -100%;
    border-right: 3px solid #5a636a;
}

.title-box {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #5a636a;
    margin-bottom: 10px;
}

.title-box span {
    font-size: 25px;
}

.link-box {
    display: flex;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}

.link-box img {
    height: 32px;
    margin-right: 4px;
}

a {
    color: #afb3b7;
}

.code-box {
    background-color: #0D1F23;
    width: 100%;
    max-width: 800px;
    padding-bottom: 0px;
    border-radius: 10px;
    margin-bottom: 2px;
}

.code-box span {
    margin: 4px;
}

.code-box hr {
    margin: 0px;
}

.code-box iframe {
    width: 100%;
    min-height: 400px;
    margin-bottom: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.example-frame {
    width: 100%;
    max-width: 800px;
    background: #fff;
    border-radius: 10px;
}

@keyframes slidein {
    from {
        left: -100%;
    }

    to {
        left: 0%;
    }
}

@keyframes slideout {
    from {
        left: 0%;
    }

    to {
        left: -100%;
    }
}

@font-face {
    font-family: 'OpenSans';
    src: url('/resources/fonts/opensans.ttf') format('ttf');
}